body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("background.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.calander-container {
  background-color: rgb(250, 248, 248);
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
}

.month-name {
  margin: 0;
  background-color: rgb(242, 189, 119);
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(113, 73, 25);
}

.day-name {
  font-size: 25px;
  color: rgb(188, 143, 38, 0.8);
}

.day-number {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
  color: rgb(225, 134, 134);
}

.year {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 500;
  color: rgba(72, 53, 9, 0.8);
}

.pages {
  width: 300px;
  height: 310px;
  background-color: aliceblue;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
